<div class="container2">
  <div class="banner">
    <h1>Welcome to Your Fitness Journey</h1>
    <div class="info-box">
      <div class="info-item">
        <p>Weight: <%= @user_last_goal.weight_in_kg.round %> kg</p>
      </div>
      <div class="info-item">
        <p>Calorie Objective: <%= @user_last_goal.calorie_objective.round %></p>
      </div>
      <div class="info-item">
        <p>Protein Objective: <%= @user_last_goal.protein_objective.round %> g</p>
      </div>
      <div class="info-item">
        <p>Carbs Objective: <%= @user_last_goal.carbs_objective.round %> g</p>
      </div>
      <div class="info-item">
        <p>Fat Objective: <%= @user_last_goal.fat_objective.round %> g</p>
      </div>
    </div>
  </div>
  
  <div class="sidebar">
    <ul>
      <li><a href="#">Meal Plan</a></li>
      <li><a href="#">Shopping List</a></li>
    </ul>
  </div>
  
  <div class="main-body">

    <div class = "button3-container">
    <% if Mealplan.where({ :user_id => session[:user_id] }).at(0) != nil %>
    <a href="/mealplans/<%= Mealplan.where({ :user_id => session[:user_id] }).order(id: :desc).first.id %>" class="button3">Show last meal plan</a>
    <% end %>
    <a href="/generate_mealplan" class="button3">Create plan for today</a>
    </div>

  </div>
</div>
