<div class="container">

  <h1>Summary</h1>

  <p>Weight: <%= @goal.weight_in_kg %> kg</p>
  <p>Height: <%= @goal.height_in_cm %> cm</p>
  <p>Age: <%= @goal.age %> years</p>
  <p>Gender: <%= @goal.gender %></p>


  <h2>Congratulations! These are your goals:</h2>

  <p>Calorie Objective: <%= @goal.calorie_objective %></p>
  <p>Protein Objective: <%= @goal.protein_objective %></p>
  <p>Fat Objective: <%= @goal.fat_objective %></p>
  <p>Carbs Objective: <%= @goal.carbs_objective %></p>

  <a href="/home">Continue</a>

</div>
